body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: all 0.5s ease-in-out;
    background-color: black;
}

.list {
    display: flex;
    gap: 5px;
    transform-style: preserve-3d;
    transform: perspective(1000px);
}

.item {
    width: 100px;
    height: 300px;
    border-radius: 8px; 
}

.item:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
     rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}


.list .item {
  transition: 0.5s ease-in-out;
  filter: brightness(0);
}

.list .item:hover{
  filter: brightness(1);
  transform: translateZ(200px);
}

.list .item:hover + * {
  filter: brightness(0.6);
  transform: translateZ(150px) rotateY(40deg);
}

.list .item:hover + * + * {
    filter: brightness(0.4);
    transform: translateZ(70px) rotateY(20deg);
}
.list .item:hover + * + * + * {
    filter: brightness(0.2);
    transform: translateZ(30px) rotateY(10deg);
}
.list .item:hover + * + * + * + * {
    filter: brightness(0.1);
    transform: translateZ(15px) rotateY(5deg);
}

.list .item:has(+ *:hover) {
    filter: brightness(0.6);
    transform: translateZ(150px) rotateY(-40deg);
}
.list .item:has(+ * + *:hover) {
    filter: brightness(0.6);
    transform: translateZ(70px) rotateY(-20deg);
}
.list .item:has(+ * + * + *:hover) {
    filter: brightness(0.2);
    transform: translateZ(30px) rotateY(-10deg);
}
.list .item:has(+ * + * + * + *:hover) {
    filter: brightness(0.1);
    transform: translateZ(15px) rotateY(-5deg);
}