/* Parallax effect for card backgrounds */
.grid-item {
    background-attachment: fixed;
    /* Creates the parallax effect */
    background-size: cover;
    /* Ensures the image covers the entire card */
    background-position: center;
    /* Centers the image */
    filter: contrast(1);
}

/* Background images for each card */
.card1,
.card2,
.card3,
.card4,
.card5,
.card6,
.card7,
.card8,
.card9,
.card10,
.card11,
.card12,
.card13,
.card14,
.card15,
.card16 {
    background-image: url(https://i.pinimg.com/736x/18/e2/b4/18e2b4c03f668435146ca8ec75a05489.jpg);
}


@media screen and (max-width:500px) {

    .card1,
    .card2,
    .card3,
    .card4,
    .card5,
    .card6,
    .card7,
    .card8,
    .card9,
    .card10,
    .card11,
    .card12,
    .card13,
    .card14,
    .card15,
    .card16 {
        background-image: url(https://i.pinimg.com/564x/55/4d/51/554d51679261af6d90259d8b630de8f1.jpg);
    }
}